{% extends 'hotel/base.html' %}

{% block title %}Lista de Facturas{% endblock %}

{% block content %}
    <h2>Facturas</h2>
    <a href="{% url 'factura_add' %}" class="btn btn-primary">Agregar Factura</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Reserva</th>
                <th>Monto Total</th>
                <th>Impuestos</th>
                <th>Descuentos</th>
                <th>Fecha de Emisión</th>
                <th>Fecha de Vencimiento</th>
                <th>Estado de Pago</th>
                <th>Método de Pago</th>
                <th>Detalle</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
                <tr>
                    <td>{{ factura.id_factura }}</td>
                    <td>{{ factura.id_reserva }}</td>
                    <td>{{ factura.monto_total }}</td>
                    <td>{{ factura.impuestos }}</td>
                    <td>{{ factura.descuentos }}</td>
                    <td>{{ factura.fecha_emision }}</td>
                    <td>{{ factura.fecha_vencimiento }}</td>
                    <td>{{ factura.estado_pago }}</td>
                    <td>{{ factura.metodo_pago }}</td>
                    <td>{{ factura.detalle_factura }}</td>
                    <td class="action-buttons">
                        <a href="{% url 'factura_edit' factura.pk %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'factura_delete' factura.pk %}" class="btn btn-delete">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="11">No hay facturas registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
